<form>
    <div class="form-group">
        <label>Tags</label>
        <div id="tag-list">
            {{#each tags}}
            <div class="tag-entry flexrow">
                <img class="tag-preview" src="{{this.icon}}" width="24" height="24"/>
                <input type="text" name="tagName{{@index}}" value="{{this.name}}" placeholder="Tag Name"/>
                <input type="text" name="tagIcon{{@index}}" value="{{this.icon}}" placeholder="Icon Path"/>
                <button type="button" class="file-picker" data-type="imagevideo" data-target="tagIcon{{@index}}">
                    <i class="fas fa-file-import fa-fw"></i>
                </button>
                <button type="button" class="delete-tag" data-index="{{@index}}">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
            {{/each}}
            <div class="tag-entry flexrow">
                <img class="tag-preview" src="icons/svg/d20.svg" width="24" height="24"/>
                <input type="text" name="tagName{{tags.length}}" placeholder="New Tag Name"/>
                <input type="text" name="tagIcon{{tags.length}}" placeholder="Icon Path"/>
                <button type="button" class="file-picker" data-type="imagevideo" data-target="tagIcon{{tags.length}}">
                    <i class="fas fa-file-import fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
    <button type="submit" name="submit">
        <i class="far fa-save"></i> Save Changes
    </button>
</form>