#token-hud.sorted-status-effects .status-effects {
    display: flex;
    flex-wrap: wrap;
    gap: 2px
}

#tag-configuration .tag-entry {
    margin-bottom: 5px;
    gap: 5px;
}

#tag-configuration .tag-entry input {
    flex: 1;
}

#tag-configuration .file-picker {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    margin: 0;
}

#tag-configuration .delete-tag {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    color: #ff0000;
}

#tag-configuration .delete-tag:hover {
    text-shadow: 0 0 8px red;
}

#tag-configuration .tag-preview {
    flex: 0 0 24px;
    height: 24px;
    border: none;
    margin-right: 5px;
}

#tag-configuration .tag-entry input[name^="tagIcon"] {
    flex: 2;
}

#tag-configuration .tag-entry input[name^="tagName"] {
    flex: 1;
}

#sse-active-status-effects-container {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 100;
}

.sse-active-status-effects-category {
    display: flex;
}